/* Chrome e outros */
.error-label {
  color: rgb(255, 0, 0);
  font-size: 14px;
  font-weight: 600;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.input-box {
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;

  .input-title {
    font-weight: 600;
    font-size: 19px;
  }
}
.input-title {
  font-weight: 600;
  font-size: 19px;
}
.button-disabled {
  background-color: #dddddd;
  width: 150px;
  border: gray 1px solid;
  padding: 10px;
  font-weight: bold;
  color: #949494;
  border-radius: 5px;
  cursor: not-allowed;
}
.blocos-box {
  padding: 20px 0px;
}
.telha-result {
  font-weight: bold;
  background: gray;
  color: white;
  padding: 10px 90px;
  border-radius: 5px;
  margin-top: 10px;
}

.input-style {
  border: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: #222222;
}

.button-send {
  width: 150px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: #000000;
  background-color: #71aa81;
  border-radius: 5px;
  cursor: pointer;
}
.set-size {
  font-size: 18px;
}

.metros-quadrados {
  font-weight: bold;
  background: #71aa81;
  color: white;
  padding: 10px 0px;
  border-radius: 5px;
  max-width: 300px;
  display: flex;
  margin-top: 10px;
  width: 170px;
  align-items: center;
  max-height: 50px;
  justify-content: center;
  font-size: 22px;
  min-height: 50px;
}

.box2 {
  min-width: 450px;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .box2 {
    margin-left: 0px;
  }
}

.dropdown-box {
  border: 2px solid #71aa81 !important;
  background: white !important;
  color: #71aa81 !important;
  min-width: 230px !important;
}

@media (max-width: 600px) {
  .input-box {
    width: 100% !important;
    max-width: 100% !important;
  }
  .metros-quadrados {
    width: 100% !important;
    max-width: 100% !important;
  }

  .dropdown-box {
    width: 100%;
  }
  .button-send {
    width: 100%;
  }

  .box2 {
    width: 100%;
    min-width: 100%;
  }
}
